footer {
  background: #333333;
  color: #fff;
  padding: 3.125rem;

  .footer-list-links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        font-weight: 300;
        line-height: 2rem;
      }
    }
  }

  a {
    color: $white-color;

    &:hover,
    &:focus {
      color: $white-color;
      text-decoration: none
    }
  }

  .footer-link {
    width: 2rem;
  }
}
