.Pinatedo-menu {
  padding: 30px 8.33333% 30px 16.66667%;
  transition: all 0.5s;

  .logo {
    transition: all 0.25s;
  }
}

.Pinatedo-menu-dark {
  background: #1e2a37;
  padding: 10px 8.33333% 10px 16.66667%;
  transition: all 0.5s;

  .logo {
    max-width: 180px;
    transition: all 0.25s;
  }
}

.navbar {
  align-items: flex-end;

  .navbar-nav {
    align-items: flex-end;
  }

  .nav-item {
    &:last-child {
      margin: 0;
    }

    margin: 0 10px;
  }

  a {
    color: #fff;
    cursor: pointer;
    transition: transform 1s;
    font-family: 'Merriweather', serif;
    font-size: 22px;
    line-height: 1;

    .header-icon {
      width: 37px;
      height: auto;
    }

    .st4 {
      fill: #fdba4d;
      transition: fill 0.25s;
    }

    &:hover {
      .st4 {
        fill: #e3a84d;
        transition: fill 0.25s;
      }

      &.effect {
        transform: translateY(-5px);
        transition: transform 1s;
      }
    }

    &.active {
      color: #ffbb4d;
    }
  }
}

@media (max-width: 768px) {
  .Pinatedo-menu {
    padding: 30px 0px;

    .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: auto;
      vertical-align: middle;
      content: '';
      background: no-repeat center center;
      background-size: 100% 100%;
      padding: 10px 0;
    }

    .navbar-toggler {
      color: #fff;
    }

    .logo {
      max-width: 180px;
    }

    .navbar-nav {
      align-items: center;
      background: #1e2a37;
      padding: 10px;
      justify-content: space-around;
      height: 90vh;
    }
  }

  .Pinatedo-menu-dark {
    padding: 5px 15px !important;
  }
}
