section {
  padding: 6.25rem 0;
  position: relative;

  @media (max-width:990px) {
    padding: 2rem 0;
  }

}

.center-content {
  @media (min-width:990px) {
  position: absolute;
  top: calc(50% + 6.25rem);
  left: 50%;
  transform: translate(-50%, -50%);
  }
}



.Section-1 {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  background: url(/assets/img/img-section1-background.jpg) center center;
  background-size: cover;
  padding-bottom: 0;

  .mobile-margin-bottom {
    @media (max-width:990px) {
      margin: 50px;
      text-align: center;

    }
  }

  .container-wrapper {
    padding: 2rem 15% 0;

    @media (max-width:990px) {
      padding: 3rem 5%;
    }
  }

  .ribbon-back {
    background: url(/assets/img/img-ribbon.png) center center;
    background-size: cover;
  }

  .ribbon-container {
    position: relative;
    padding: 8%;
    @media (max-width:375px) {
      padding: 0
    }

    .ribbon {
      width: 100%;
      z-index: 99;
    }

    .carousel {
      position: absolute;
      z-index: 999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width:990px) {
        font-size: 19px;
        width: 50%;
        margin: auto;
      }

      &::before {
        content: "";
        position: absolute;
        height: 3rem;
        width: 2px;
        background: $red-color;
        ;
        top: 50%;
        left: -1.25rem;
        transform: translatey(-50%);
      }


      .carousel-indicators li {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: transparent;
        border: 0.0625rem solid $red-color;
        border-radius: 100%;

        &.active {
          background: $red-color;
        }
      }

      .carousel-indicators {
        bottom: -170px;
        @media (max-width:990px) {
          bottom: -100px;
        }
      }

      .carousel-item .text-container{
        min-height: 220px;
        display: flex;
        align-items: center;
      }

    }

    h3 {
      font-family: starling, serif;
      z-index: 999;
      position: relative;
      font-size: 1.75rem;
      line-height: 2rem;

      @media screen and (max-width: 1868px) {
        font-size: 1.25rem;
      }


      @media screen and (max-width: 1366px) {
        font-size: .9rem;
      }
      @media screen and (max-width: 375px) {
      font-size: .75rem;
      }

    }

    .firstLetter {
      font-size: 1.75rem;
      font-family: starling, serif;
      @media (max-width:990px) {
        font-size: 1.25rem;
      }
    }
  }
}

.Section-2 {
  min-height: 100vh;

  .slick-track {
    display: flex;
  }

  .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;

        
    &>div{
      width: 100%;
      padding: 10%;
    }
    
  }

  .container-carousel {
    width: 100%;
    margin: auto;
    position: relative;
    @media (min-width:990px) {
      width: 80%;
      margin: auto;
    }
  }

  .slick-center {
    .trayectoria-box {
      transform: scale(1.2);
      @media (max-width:990px) {
        transform: scale(1);
        margin: auto;
      }
    }
  }

  .slick-track {
    padding: 3rem 0;

  }

  .slick-arrow {
    width: 3rem;
    position: absolute;
    top: 50%;

    transform: translate(0, -50%);

    &.prevArrow {
      left: -5rem;
      @media (max-width:990px) {
        left: 1rem;
      }
    }

    &.nextArrow {
      img {
        transform: rotate(180deg);
      }

      right: -5rem;
      @media (max-width:990px) {
        right: 1rem;
      }
    }
  }

  .slick-list {
    overflow-x: hidden;
    overflow-y: visible;
  }

  .trayectoria-box {
    transition: all 1s;
    padding: 3rem;
    background: #f4f4f4;
    margin: 1rem;
    box-shadow: 2px 2px 10px #2323237a;
    min-height: 425px;
    max-width: 425px;
    position: relative;

    @media screen and (max-width: 1868px) {
      min-height: 350px;
      max-width: 350px;
    }

    @media (max-width:990px) {
      width:auto;
      height: auto;
    }

    .text-container {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      width: 80%;

      @media (max-width:990px) {
        position: relative;
        top: initial;
        left: initial;
        transform: none;
        width: 100%;
      }

      h1 {
        font-family: starling, serif;
        font-size: 1.5rem;
        font-weight: 700;
        @media (max-width:1520px) {
          font-size: 1.25rem;

        }
      }

      hr {
        background: #bc2e1a;
        height: 1px;
        width: 90%;
        margin-left: 0;
      }

      p {
        font-weight: 300;
        font-size: 1.15rem;

        @media screen and (max-width: 1868px) {
          font-size: 1rem;
        }
      }
    }
  }
}

.Section-3 {
  min-height: 100vh;
  background: url(/assets/img/img-section3-background.jpg) center center;
  background-size: cover;

  .img-section3 {
    margin-bottom: 20px;
    text-align: center;
  }

  .text-container {
    padding: 0 1.5rem;

    @media (max-width:990px) {
      padding: 0;

    }
  }
}

.Section-4 {
  min-height: 100vh;

  .equipo-title {
    position: relative;
    margin-bottom: 3rem;

    @media (max-width:990px) {
      text-align: center;
      margin-bottom: 20px;
    }

    hr {
      width: 200px;
      height: 1px;
      background: $red-color;
      position: absolute;
      left: 4.5rem;
      top: 1.5rem;
      @media (max-width:990px) {
        position: relative;
        left: initial;
        top: initial;
      }
    }
  }

  .box-container {

    position: relative;
    height: 100%;

    @media (max-width:990px) {
      margin-top: 20px;
    }

    &.inverted {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media (max-width:990px) {
        width: 244px;
        margin: 20px auto;
      }
    }

    .hover-content {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      background: #fff;
      @media (max-width:990px) {
        max-width: 244px;
      }
    }

    .external-directors {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
      background: #000;
      color: #fff;
      font-size: 1.25rem;
      font-family: starling, serif;
      font-weight: 700;
      @media (max-width:990px) {
        min-height: 244px;
      }
    }

    .role {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      font-weight: 300;
      color: #fff;
      font-size: .9rem;
      width: 80%;
      text-shadow: 1px 1px #000;
      display: none;
      @media (max-width:990px) {
        bottom: 2rem;
      }

      .name {
        font-family: starling, serif;
      }

      a {
        color: #fff
      }
    }

    .bordered {
      border: 1px solid $red-color;
      padding: 1.2725rem 1rem;
      font-weight: 300;
      @media (max-width:990px) {
        padding: 2.6rem 1rem;
      }

      .serif {
        font-family: starling, serif;
      }

      &:first-child {
        margin-bottom: .5rem;
      }
    }

    img {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      width: 100%;
      max-width: 244px;
    }

    &:hover {
      .role {
        display: block;
      }

      .hover-content {
        display: block;
      }
    }
  }

  .row.no-gutter {
    margin-bottom: 10px;

    @media (max-width:990px) {
      display: flex;
      text-align: center;
    }
  }

  /* remove spacing between middle columns */
  .row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* remove right padding from first column */
  .row.no-gutter [class*='col-']:first-child {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* remove left padding from first column */
  .row.no-gutter [class*='col-']:last-child {
    padding-left: 5px;
    padding-right: 5px;
  }



}

.Section-5 {
  min-height: 100vh;
  background: $gray-color;

  .slick-track {
    @media (min-width:990px) {
      display: inherit;
      padding: 1.25rem;
    }
  }

  .container-carousel {
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 5rem;

    .slick-list {
      padding: 1rem !important;
      @media (max-width:990px) {
        padding: initial;
      }
    }

    .carousel-position {
      position: absolute;
      bottom: 35px;
      right: 30%;
      font-family: starling, serif;
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      @media screen and (max-width: 1868px) {
        bottom: 50px;
      }

      @media (max-width:990px) {
        bottom: initial;
        right: 50%;
        transform: translateX(50%);
      }

      span,
      sub {
        font-family: starling, serif;
      }

      .arrow-icon {
        width: 2rem;
        margin: .25rem;

        &.reverse {
          transform: rotate(180deg);
        }
      }

      .first-number {
        font-size: 2rem;
      }
    }
  }

  .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    @media (max-width:990px) {
      padding: 30px;
    }
  }

  .slick-box{
    padding: 0 130px;
  }

  .slick-arrow {

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    height: 15rem;
    width: 8rem;
    padding: 2.5rem;
    z-index: 999;

    &.prevArrow {
      left: 0rem;
      background: url(/assets/img/carousel-arrow-left-bg.jpg) no-repeat center center;
      background-size: cover;
      box-shadow: 4px 4px 7px #2323237a;
    }

    &.nextArrow {
      img {
        transform: rotate(180deg);
      }

      background: url(/assets/img/carousel-arrow-right-bg.jpg) no-repeat center center;
      background-size: cover;
      right: 0rem;
      box-shadow: -4px 4px 7px #2323237a;
    }
  }

  .trayectoria-box {
    display: flex;
    margin: auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    transform: translateX(-25px);
    p{
      font-size: 1rem;
    }

    img{
      margin: 0;
        @media (max-width:990px) {
        margin:auto;
        }
    }
    @media (max-width:990px) {
      flex-direction: column;
      padding: 0;
      
    }

    .imagen-container {
      width: 60%;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      max-width: 500px;
      max-height: 450px;
      @media (max-width:990px) {
        padding:0;
        width: 100%;
      }
    }

    .text-container {
      background: $gray-color;
      width: 40%;
      padding: 1rem 3rem;
      box-shadow: 4px 4px 7px #2323237a;
      max-width: 500px;
      min-height: 500px;

      @media (max-width:990px) {
        width: 100%;
      }

      h1 {
        font-family: starling, serif;
        font-size: 4rem;
        font-weight: 700;

      }

      hr {
        background: $red-color;
        height: 1px;
        width: 100%;
      }

      p {
        font-weight: 300;
      }
    }
  }
}

.Section-6 {
  min-height: 50vh;
  padding-bottom: 0;

  .row {
    position: relative;
  }

  #map {
    width: 100%;
    height: 80vh;
  }

  .contact-box {
    display: flex;
    position: absolute;
    background: white;
    flex-direction: column;
    padding: 4rem 1rem 2rem;
    left: 30%;
    transform: translate(-50%, -50%);
    top: 50%;

    @media (max-width:990px) {
      position: relative;
      transform: none;
      left: initial;
      padding: 3rem 1rem 3rem;
      text-align: left;
      margin: auto;

    }

    hr {
      width: 400px;
      height: 1px;
      background: $red-color;

      @media (max-width:990px) {
        width: 80%;
      }
    }

    p {
      margin: 0 2rem;
      font-size: 1.5rem;
      font-weight: 300;
    }

    .phone {
      font-family: starling, serif;
    }
  }
}