.Section-1 {
  min-height: 85vh;
  background: url(/docs/assets/img/img-section1-background.jpg) center center;
  padding: 50px 0;
  background-size: cover;

  .ribbon-back {
    background: url(/docs/assets/img/img-ribbon.png) center center;
    background-size: cover;
  }
}

.Section-2 {
  min-height: 100vh;
  padding: 30px 0;
}

.Section-3 {
  min-height: 100vh;
  padding: 30px 0;
  background: url(/docs/assets/img/img-section3-background.jpg) center center;
  padding: 50px 0;
  background-size: cover;
}

.Section-4 {
  min-height: 100vh;
  padding: 30px 0;
}

.Section-5 {
  min-height: 100vh;
  padding: 30px 0;
  background: $gray-color;
}

.Section-6 {
  min-height: 100vh;
  padding: 30px 0;
}
