// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

@font-face {
  font-family: 'CeraPro';
  src: url('/assets/fonts/Cera-Pro-Regular.eot');
  src: local('☺'), url('/assets/fonts/Cera-Pro-Regular.woff') format('woff'),
    url('/assets/fonts/Cera-Pro-Regular.ttf') format('truetype'),
    url('/assets/fonts/Cera-Pro-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/assets/fonts/Cera-Pro-Bold.eot');
  src: local('☺'), url('/assets/fonts/Cera-Pro-Bold.woff') format('woff'),
    url('/assets/fonts/Cera-Pro-Bold.ttf') format('truetype'),
    url('/assets/fonts/Cera-Pro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('/assets/fonts/Cera-Pro-Medium.eot');
  src: local('☺'), url('/assets/fonts/Cera-Pro-Medium.woff') format('woff'),
    url('/assets/fonts/Cera-Pro-Medium.ttf') format('truetype'),
    url('/assets/fonts/Cera-Pro-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

$dark-color: #232323;
$red-color: #bc2e1a;
$white-color: #f0f0f0;
$gray-color: #f4f4f4;

*,
html,
body {
  font-family: 'Open Sans', sans-serif;
}


a {
  color: $dark-color;
}

a:hover,
a:focus {
  font-weight: 700;
  text-decoration: none;
}

a.active {
  font-weight: 700;
  color: $red-color;
}

.red-font {
  color: $red-color
}

.header {
  padding: 4rem 0;
  align-items: center;


  .col-sm-2 {
    padding: 0;
  }

  .title-container {
    padding-left: 2rem;
    display: flex;

    .title {
      font-family: starling, serif;
      font-weight: 700;
      font-style: normal;
      color: $red-color;
      margin-left: 1rem;
      font-size: 2rem
    }

    img {
      width: 6rem;
    }
  }

  .side-border {
    height: 1px;
    width: 100%;
    background: $red-color;
  }
}
